#page
{max-width: 100%;
    min-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding:0.9rem;
}
section,nav,header,footer
{
    display: block;

}
#logo
{
    display: flex;
    justify-content: flex-start;
}
body
{
    font-weight:300;
    width: 100%;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    background-color: crimson;
}
h1
{
    font-weight: 700;
	font-size: 1.1rem;
	color: #000000;
}
h2{
    font-weight: 700;
	font: size 0.9rem;
	color: #000000;
}
h3
{
    font-weight: 700;
	font-size:0.7rem;
	color: #000000;
}
h4
{
    font-weight: 400;
	color: #000000;
}
nav
{ 
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    width: 31.25rem;
    background-color: cyan;
}
nav ul
{ 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width:50%;
    order: 0;
text-decoration: none;
background-color: darkgreen;
}
#grandconteneur /*hebergements*/
{
    display: inline-flex;
    justify-content: space-between;
background-color: darkorange;
}