@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

div#page {
    max-width: 100%;
    min-width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
}

body {
    margin: 0;
    font-weight: 300;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

a:visited {
    color: #0065FC;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    background-color: #ffffff;
}

#logo img {
    height: 100%;
    display: flex;
    justify-content: center;

    width: 100%;
}

nav {

    display: flex;
    flex-grow: 0.8;
    justify-content: space-between;
    background-color: #ffffff;
}

nav ul li {
    border-top: solid 2.5px transparent;
    padding: 0 30px;
}

nav ul {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 2vw;
    text-decoration: none;
    background-color: #ffffff;
}

ul {
    list-style: none;

    width: 100%;
}

li {
    display: list-item;
    text-align-last: right;
    color: #0065FC;
}

/*titres*/
h1 {
    display: flex;
    font-weight: 600;
    font-size: 1.1rem;
    color: #000000;
}

h2 {
    display: block;
    font-weight: 700;
    font-size: 0.9rem;
    color: #000000;
}

h3 {
    font-weight: 700;
    font-size: 0.7rem;
    color: #000000;
}

h4 {
    font-weight: 400;
    color: #000000;
}

h1 {
    font-weight: 700;
    font-size: 1.1rem;
    color: #000000;
}

h2 {
    font-weight: 700;
    font-size: 0.9rem;
    color: #000000;
}

h3 {
    font-weight: 700;
    font-size: 0.7rem;
    color: #000000;
}

h4 {
    font-weight: 400;
    color: #000000;
}

/*menu navigation*/
.hebergements,
.barre {
    display: flex;

}

.hebergements a,
.barre a {

    font-weight: 400;
    font-size: 0.9rem;
    color: #0a0a0a;
    text-decoration: none;
    padding-top: 1.3rem;
}

.hebergements a:hover,
.barre a:hover {
    color: #0065FC;
    font-weight: 500;
    border-top: 0.125rem solid #0065FC;
}

/*barre survol*/
#grandconteneur {
    display: inline-flex;
    justify-content: space-between;
    max-height: 50%;
}

#sectionlocation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

#sectionlocation a {
    border-radius: 1rem;

    margin: 1.5rem;
    text-decoration: none;
}

#sectionlocation a :hover {
    opacity: 0.8;
}

#lespluspopulaires

/*grand conteneur*/
    {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#lesplupopulaires a {
    text-decoration: none;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0.6rem 0.06rem 0.3rem 0rem #e0e0e0;
    margin: 1rem 2rem;
}

#lespluspopulaires a :hover {
    opacity: 0.8;
}

.activites {
    font-weight: 400;
    font-size: 0.9rem;
    color: #000000;
    text-decoration: none;
    padding-top: 1.3rem;
    background-color: darkslategrey;
}

#Sejour {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    max-width: 65%;
    background-color: #F2F2F2;
    border-radius: 0.9rem;
}

#sectionlocation h1 {
    width: 100%;
    display: flex;
    justify-content: left;
    margin: 35px;
}

#Sejour a {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0.6rem 0.06rem 0.3rem 0rem #e0e0e0;
    margin: 1.5rem;
    border-top: 0.125rem solid black;
}

#Sejour a:hover {
    border-top: 0.125rem solid black;
}

p {
    color: black;
}

#inscription

/*le bouton ??????????*/
    {
    display: flex;
    justify-content: flex-end;
    width: 0.3rem;
}

#inscription a {
    font-size: 0.9rem;
    color: #0065FC;
    font-weight: 700;
    text-decoration: none;
    padding-top: 1.563rem;
}

#inscription a:hover {
    color: #000000;
    font-weight: 500;
    border-top: 0.125rem solid black;
}

#icone i

/*icone rechercher*/
    {
    display: flex;
    justify-content: center;
}

#marker i

/*gps icone*/
    {
    font-size: 1rem;
    display: flex;
    width: 3.125rem;
    height: 2.5rem;
    background-color: #F2F2F2;
    border-radius: 0.9rem 0rem 0rem 0.9rem;
    align-items: center;
    justify-content: space-around;
}

#search input {
    display: flex;
    background-color: #ffffff;
    width: 9.375rem;
    height: 2.5rem;
    align-items: center;
    justify-content: space-around;
    border: 0.125rem #F2F2F2 solid;
    font-size: 0.75rem;
    font-weight: 800;
}

#boite1

/*TITRE HEBERGEMENTS A MARSEILLE*/
    {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #F2F2F2;
}

.boite2,
.boite3,
.boite4 {
    display: inline-block;
    padding: 0.35em;
    width: 23vw;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 2px 20px rgb(230, 230, 217);
}

.boite {
    width: 15rem;
    border: 0.3rem #ffffff solid;
    border-radius: 0.9rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.boite i {
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 0.75rem;
    align-content: space-around;
    color: #0065FC;
}

.boite img {
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 0.75rem;
    align-content: space-around;
    color: #0065FC;
}

.legende {
    margin: 0.5rem 0rem 0rem 0.5rem;
}

.legende p {
    margin-top: 0.3rem;
}

#boxafficher {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#boxafficher a {
    text-decoration: none;
    background-color: transparent;
    border-radius: 0rem;
    box-shadow: none;
    margin: 0rem 0rem 0.9rem 0rem;
}

#boxafficher h2 {
    display: flex;
    width: 100%;
    justify-content: left;
    margin: 35px;
}

/*titre les plus populaires*/
#boite9 {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: 1rem;
}

#boite9 i {
    font-size: 1.1rem;
}

#partierecherche

/* conteneur global*/
    {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

/*titre*/
#deuxtextes {
    display: flex;
    flex-direction: column;
    line-height: 150%;
    background-color: #ffffff;
    margin-top: 2em;
    padding-bottom: 2em;
}

#boutonrecherche {
    display: flex;
    color: white;
    background-color: #ffffff;
    border-radius: 0rem 0.9rem 0.9rem 0rem;
    align-items: center;
    justify-items: flex-start;
    cursor: pointer;
}

#boutonrecherche input {
    display: flex;
    background-color: #ffffff;
    width: 9.375rem;
    height: 2.5rem;
    align-items: center;
    justify-content: space-around;
    border: 0.125rem #F2F2F2 solid;
    font-size: 0.75rem;
    font-weight: 800;
}

#boutonrecherche h4 {
    display: flex;
    color: #ffffff;
    width: 6.25rem;
    height: 2.5rem;
    background-color: #0065FC;
    border-radius: 0rem 0.9rem 0.9rem 0rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#iconerechercher {
    display: none;
}

/*boite globale filtre*/
#boitefiltre {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 50rem;
    background-color: white;
    margin-top: 2em;

}

#filtre {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-end;
    width: 100%;
    color: #d9dee4;
}

#titre {
    display: flex;
}

#billets,
#enfant,
#coeur,
#chien {
    display: flex;
    align-items: center;
    color: #0065FC;
}

#filtre i

/*icones*/
    {
    display: flex;
    align-items: center;
    color: #0065FC;
    background-color: #eff4fc;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    justify-content: space-around;
    position: absolute;
    z-index: 2;
}

#filtre i:hover {
    color: #0065FC;
    background-color: #ffffff;
    border: 0.06rem #4288f0 dashed;
    cursor: pointer;
}

#filtre h3

/*NOM FILTRES*/
    {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding: 0rem 0.9rem 0rem 3.125rem;
    background-color: #ffffff;
    border-radius: 9.375rem 9.375rem 9.375rem 9.375rem;
    border: 0.19rem #f8efef solid;
    position: relative;
    z-index: 1;
}

#filtre h3:hover {
    border: 0.06rem red;
    border-radius: 9.375rem 9.375rem 9.375rem 9.375rem;
}

#info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 2em;
}

#info i {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    color: #0065FC;
    background-color: #ffffff;
    border: 0.06rem #F2F2F2 solid;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;

}

.box .imgbox {
    width: 150px;
    flex: 0 0 150px;
    max-width: 100%;
}

#lesactivites {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
}

#lesactivites h2 {
    margin-top: 2em;
    font-size: 1.7vmax;
    padding-bottom: 2em;
}

.sectionactivites {
    display: flex;
    justify-content: space-around;

    height: 31vw;
    width: 100%;
}

#lesactivites h2 {
    display: flex;

    width: 100%;
}

.table1 {
    display: flex;
    padding: 0;
}

.boxactivitesa {
    width: 21vw;
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 3px 3px 20px rgb(230, 230, 217);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.col2 {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: white;
}

.petiteboite {
    width: 21vw;
    height: 55%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    box-shadow: 3px 3px 20px #F2F2F2;
    margin-bottom: 15px;
    border-radius: 15px;
    border-bottom-right-radius: 18px;
    transition: 1s;
}

.petiteboite:hover {
    transform: scale(1.2);
    z-index: 2;
}

.petiteboiteb {
    width: 21vw;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    box-shadow: 3px 3px 20px #F2F2F2;
    margin-bottom: 15px;
    border-radius: 15px;
    height: 40%;
    transition: 1s;
}

.petiteboiteb:hover {
    transform: scale(1.2);
    z-index: 2;
}

.boite2 img,
.boite3 img,
.boite4 img {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.images {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.imagecolone {
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 10px;
    width: 100%;
    height: 85%;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.imagespetitecolone {
    width: 100%;
    height: 55%;
    object-fit: cover;
    align-items: center;
    padding-bottom: 10px;
    border-top: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.imagespetitecolonea {
    width: 100%;
    height: 85%;
    object-fit: cover;
    align-items: center;
    padding-bottom: 10px;
    border-top: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.boxactivitesa {
    width: 21vw;
    padding: 0;
    margin: 0;
    transition: 1s;
}

.boxactivitesa:hover {
    transform: scale(1.2);
    z-index: 2;
}

* {
    margin: 0;
}

.etoiles {
    margin-top: 15px;
    color: #0065FC;


}

.etoilegrise {
    color: #c7c2c2 !important;
}

#footer {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

}

#footer li {
    margin-bottom: 1rem;
}

/*footer*/
.colone {
    width: 35%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: right;
    align-items: flex-start;

}

figcaption {
    display: block;
    font-size: 1.2vmax;
    margin-left: 1.4em;
    margin-top: 0.4em;
    background-color: white;
    border-bottom-right-radius: 18px;
}


figure {

    display: block;
    background-color: white;
    box-shadow: 2px 2px 20px #F2F2F2;
}

figure img {
    max-width: 100%;
    max-height: 80%;
}


.imagepopulaire {
    float: left;
    width: 40%;
    border-bottom-left-radius: 15px;
    object-fit: cover;
    margin-right: 0.8vw;
}

.textedescriptif {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;

}

.textedescriptif h4 {
    font-size: 1.2vw;
}

img {
    width: 98%;
    border: 0.4rem;
    border-radius: 1.2rem;
    border-left: 0.3rem;
    height: 10vw;
    object-fit: cover;

}

footer {
    margin: 0;
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    text-decoration: none;
    min-width: 100%;
    background-color: #F2F2F2;
}

footer ul li {

    color: black;
    cursor: pointer;
    font-size: 1vw;
}

/* Partie Responsive*/
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    p,

    h3,
    h4 {
        font-size: 1.2rem;
    }
header
{
    flex-flow: wrap;
}
    #logo {
        width: 49%;
        display: flex;
        flex-wrap: wrap;
        order: 1;
    }

    #inscription {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        justify-content: center;
  
        order: 2;
    }


    #inscription a:hover {
        display: flex;
        flex-wrap: wrap;
        border-top: none;
width: 50%;

    }
#inscription a
{
    font-size: 1.5rem;
}

    nav {
        display: flex;
        flex-flow: row wrap;
        width: 99%;
        order: 3;
        justify-content: center;
    
    }

    nav ul {
        display: flex;
        align-items:center;
        width: 100%;
        justify-content: space-around;
    }
.barre, .hebergements
{display: flex;
    justify-content: center;
    
    border-bottom: 0.20rem solid;
    width: 50%;
    font-size: 1rem;

}
.barre a, .hebergements a 
{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}
    #boitefiltre {
        display: flex;
        flex-wrap: wrap;
    }

    #filtre {
        display: flex;
        margin-bottom: 10px;
    }

    #sectionlocation {
        flex-wrap: wrap;
        flex-direction: column;
        background-color: white;
        width: 100%;

    }

    #grandconteneur {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        width: 100%;
        flex-direction: column-reverse;
    }

    #lespluspopulaires {
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        order: 1;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin: 0;
    }

    .boite {
        width: 90%;
        box-shadow: 3px 3px 20px #F2F2F2;
        height: 300px;
        margin: 10px 0 23px 0;
        background-color: white;
    }

    .boite img {
        height: 65%;
        object-fit: cover;
    }

    #boite1 {
        background-color: white;
    }

    #boite1 h1 {
        display: flex;
        background-color: white;
        justify-content: center;
        margin: 35px 10px 10px 25px;
    }

    .boite2 {
        width: 90%;
        object-fit: cover;
        margin-left: 10px;
        height: 180px;

    }

    .imagepopulaire {
        object-fit: cover;
        height: 100%;
    }



    #boxafficher h2 {
        font-size: 1.3rem;
    }

    #lesactivites {
        order: 3;
        width: 100%;
    }

    .sectionactivites {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        order: 3;
        height: 30%;
    }

    .table1 {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: center;
        width: 100%;
    }

    .col2 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        width: 100%;
    }

    #lesactivites h2 {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 35px;
    }

    #lesactivites a {
        width: 100%;
        height: 15rem;
        margin: 1.5rem 0rem;
    }

    .petiteboite,
    .petiteboiteb,
    .boxactivitesa {


        width: 88%;
        height: 190px;
        margin-bottom: 27px;
    }

    .imagespetitecolone,
    .imagespetitecolonea,
    .imagecolone {
        height: 135px;
    }

    figcaption {
        font-size: 5vw;
        font-weight: bold;
    }


    .imagepopulaire img {
        height: 100%;
        object-fit: cover;
    }

    #footer {
        order: 4;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15%;
    }
.colone
{
    width: 100%;
}
    ul {
        display: flex;
        flex-direction: column;

    }

    li {
        display: flex;
        flex-flow:row wrap;
    }